@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url(reset.css);

:root{
  --main: #000;
  --text: #546285;
  --reverse: #fff;
  --color: rgb(53, 184, 190);
  --color-bg: rgba(53, 184, 190, 0.1);
  // color: #0170f0;
}
html, body{
  color: var(--text);
  font-family: 'Inter';
  scroll-behavior: smooth;
}
.freeze{
  overflow: hidden;
}
.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
.container{
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 15px;
  }
  @media (min-width: 992px) {
    max-width: 992px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 20px;
  }
}
.title {
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 1.65px;
  color: #35B8BE;
  @media (min-width: 768px) {
    font-size: 36px;
  }
  @media (min-width: 992px) {
    font-size: 50px;
  }
}
.text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: var(--text);
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 992px) {
    font-size: 18px;
  }
}
.btn {
  padding: 12px 20px 14px;
  display: inline-block;
  background: var(--color);
  border-radius: 6px;
  font-size: 17px;
  color: #FFFFFF;
  @media (min-width: 768px) {
    padding: 19px 35px 21px;
  }
  &_unselect{
    padding: 12px 20px 14px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
    font-size: 17px;
    color: var(--main);
    border: 1px solid #61728333;
    @media (min-width: 768px) {
      padding: 19px 35px 21px;
    }
  }
  &:hover, &:focus{
    transform: scale(1.02);
    box-shadow: 0 0 5px var(--color);
    transition: all 0.1s ease 0s;
  }
}
.header-order {
  display: none;
  @media (min-width: 768px) {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    background-color: var(--color);
    p{
      color: var(--reverse);
      opacity: 0.8;
    }
    a{
      color: var(--reverse);
      opacity: 1;
    }
  }
  &__container{
    padding: 14px 0;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  &__main {
    padding: 8px 0;
    background-color: var(--reverse);
    @media (min-width: 768px) {
      padding: 18px 0;
    }
    @media (min-width: 992px) {
      padding: 23px 0;
    }
  }
  &__main-container{
    // position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__logo {
    position: relative;
    z-index: 3;
    flex: 1 1 auto;
    svg{
      path{
        stroke: var(--color);
      }
    }
    &:hover, &:focus{
      svg{
        path{
          stroke: var(--text);
        }
        transform: scale(1.1);
        transition: all 0.1s ease 0s;
      }
    }
  }
  &__burger {
    position: relative;
    z-index: 3;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    &>span, &::before, &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #546285;
      transition: all 0.3s ease 0s;
    }
    &>span{
      top:50%;
      transform: translate(0, -50%);
    }
    &::before{
      top: 10%;
    }
    &::after{
      bottom: 10%;
    }
    &_active{
      &>span{
        transform: translate(-50%, -50%);
        opacity: 0;
      }
      &::before{
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
      }
      &::after{
        bottom: 50%;
        transform: translate(0, 50%) rotate(-45deg);
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__cart {
    position: relative;
    z-index: 3;
    width: 55px;
    height: 55px;
    border-radius: 4px;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/webp/cart-bg.webp);
    span{
      position: absolute;
      width: 25px;
      height: 25px;
      top: -6px;
      right: -6px;
      border-radius: 50%;
      background-color: var(--reverse);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      color: var(--color);
    }
    img{
      object-position: center;
    }
  }
}
.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__link {
    background-color: var(--reverse);
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 1.33;
    color: var(--main);
    opacity: 0.9;
    &:hover, &:focus{
      box-shadow: 0 0 5px var(--color);
    }
    &_active {
      color: var(--color);
      opacity: 1;
    }
  }
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 2;
    transition: all 0.3s ease 0s;
    .menu__list{
      height: 100%;
      background-color: #fff;
      padding: 100px 50px 50px;
      flex-direction: column;
      .menu__link{
        font-size: 20px;
      }
    }
  }
  &_active{
    left: 0;
  }
}
.intro {
  position: relative;
  padding: 20px 0 40px;
  @media (min-width: 768px) {
    padding: 50px 0 70px;
  }
  @media (min-width: 992px) {
    padding: 70px 0 100px;
  }
  @media (min-width: 1200px) {
    padding: 100px 0 140px;
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/webp/intro-bg.webp);
    background-size: 100% 100%;
    background-position: 0 0 ;
    background-repeat: no-repeat;
  }
  &__grid {
    display: grid;
    @media (min-width: 768px) {
      grid-template-columns: 3fr 2fr;
    }
    @media (min-width: 992px) {
      grid-template-columns: 500px 1fr;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 606px 1fr;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 1.8px;
    color: #08090A;
    span{
      color: var(--color);
    }
    @media (min-width: 768px) {
      margin-bottom: 17px;
      font-size: 42px;
    }
    @media (min-width: 992px) {
      margin-bottom: 27px;
      font-size: 60px;
    }
  }
  &__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.34;
    @media (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 16px;
    }
    @media (min-width: 992px) {
      margin-bottom: 53px;
      font-size: 18px;
    }
  }
  &__btn {
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
  &__trustpilot {
    margin-bottom: 10px;
    display: block;
    
  }
  &__rate {
    font-size: 14px;
    line-height: 1.25;
    color: #08090A;
    span{
      color: var(--color);
    }
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__img {
    position: relative;
    z-index: 1;
    @media (max-width: 767px) {
      grid-row: 1 / 2;
      img{
        width: 110%;
        max-height: 320px;
        object-position: center;
        object-fit: contain;
      }
    }
    @media (min-width: 768px) {
      img{
        width: 110%;
      }
    }
    @media (min-width: 1200px) {
      img{
        width: 100%;
      }
    }
  }
}
.twocols {
  position: relative;
  padding: 40px 0;
  @media (min-width: 768px) {
    padding: 70px 0;
  }
  @media (min-width: 992px) {
    padding: 100px 0;
  }
  @media (min-width: 1200px) {
    padding: 140px 0;
  }
  &__wrap {
    display: grid;
    align-items: center;
    row-gap: 20px;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  &__title{
    margin-bottom: 29px;
  }
  &__text {
    margin-bottom: 47px;
  }
  &__img {
    position: relative;
    z-index: 1;
    img{
      width: 100%;
      max-height: 400px;
      object-fit: contain;
      object-position: center;
    }
    @media (max-width: 767px) {
      grid-row: 1 / 2;
    }
    @media (min-width: 768px) {
      img{
        max-height: 614px;
      }
    }
  }
}
.learn {
  &__bg {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-image: url(../img/webp/twocols-bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
  }
  &__content{
    max-width: 578px;
    background-image: url(../img/webp/bg-img.webp);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    @media (max-width: 767px) {
      max-width: fit-content;
    }
  }
  &__title {
    max-width: 375px;
  }
}
.how {
  margin: 30px 0 40px;
  @media (min-width: 768px) {
    margin: 50px 0 70px;
  }
  @media (min-width: 992px) {
    margin: 80px 0 100px;
  }
  @media (min-width: 1200px) {
    margin: 134px 0 127px;
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 34px;
    }
    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 66px;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
    }
    @media (min-width: 768px) {
      gap: 30px;
      justify-content: space-between;
    }
  }
  &__item {
    text-align: center;
    img{
      width: 100%;
    }
    h3{
      font-size: 20px;
      line-height: 1.1;
      letter-spacing: 0.66px;
      color: #08090A;
    }
    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      text-align: left;
      img{
        max-width: 160px;
      }
    }
    @media (max-width: 480px) {
      flex-direction: column;
      text-align: center;
      img{
        width: 200px;
        margin: 0 auto;
      }
    }
    @media (min-width: 768px) {
      max-width: 226px;
      img{margin-bottom: 20px;}
      h3{margin-bottom: 13px;}
    }
    @media (min-width: 992px) {
      max-width: 300px;
      img{margin-bottom: 36px;}
      h3{margin-bottom: 14px;}
    }
    @media (min-width: 1200px) {
      max-width: 333px;
      img{margin-bottom: 48px;}
      h3{margin-bottom: 15px;}
    }
  }
}
.browse {
  padding: 40px 0 40px;
  background-image: url(../img/webp/browse-bg.webp);
  background-repeat: no-repeat;
  background-position: 0 0 ;
  background-size: 100% 100%;
  @media (min-width: 768px) {
    padding: 75px 0 70px;
  }
  @media (min-width: 992px) {
    padding: 110px 0 100px;
  }
  @media (min-width: 1200px) {
    padding: 154px 0 140px;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 10px;
    @media (min-width: 768px) {
      margin-bottom: 26px;
    }
  }
  &__text {
    margin-bottom: 15px;
    max-width: 470px;
    text-align: center;
    font-size: 16px;
    span{
      color: var(--color);
    }
    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
  &__buttons {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    @media (min-width: 480px) {
      gap: 30px;
    }
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
  &__btn {
    display: block;
    &:hover, &:focus{
      transform: scale(1.02);
      box-shadow: 0 0 5px var(--color);
      transition: all 0.1s ease 0s;
    }
  }
  &__list {
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    gap: 20px;
    @media (min-width: 768px) {
      margin-bottom: 65px;
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
.card {
  padding: 14px;
  background-color: var(--reverse);
  border-radius: 6px;
  display: flex;
  gap: 15px;
  @media (max-width: 480px) {
    flex-direction: column;
  }
  @media (min-width: 768px) {
    padding: 35px 26px 26px;
    gap: 30px;
  }
  &__img{
    object-fit: contain;
    object-position: center center;
    @media (max-width: 480px) {
      height: 120px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__top {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 768px) {
      margin-bottom: 18px;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: 0.6px;
    color: #08090A;
  }
  &__price {
    min-width: 100px;
    text-align: right;
    font-size: 15px;
    line-height: 1.33;
    color: var(--color);
  }
  &__text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #546285;
  }
  &__bot {
    display: flex;
    gap: 8px;
  }
  &__number {
    display: block;
    padding: 8px 8px 10px;
    width: 60px;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    color: var(--main);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.36px;
  }
  &__btn {
    padding: 8px 10px 10px;
    background: var(--color);
    border-radius: 6px;
    &:hover, &:focus{
      transform: scale(1.02);
      box-shadow: 0 0 5px var(--color);
      transition: all 0.1s ease 0s;
    }
  }
}
.faq {
  padding: 30px 0;
  &__container {
    width: 100%;
  }
  &__img {
    img{
      width: 100%;
      max-width: 578px;
      object-fit: contain;
    }
  }
  &__title {
    max-width: 529px;
    margin-bottom: 15px;
  }
  &__description {
    margin-bottom: 24px;
  }
  @media (min-width: 768px) {
    padding: 60px 0;
    &__container {
      display: flex;
      align-items: center;
      gap: 44px;
    }
    &__img {
      flex: 0 0 50%;
    }
    &__content {
      flex: 0 0 50%;
    }
    &__title {
      margin-bottom: 18px;
    }
    &__description {
      margin-bottom: 30px;
    }
  }
  @media (min-width: 992px) {
    padding: 90px 0;
    &__title {
      margin-bottom: 22px;
    }
    &__description {
      margin-bottom: 36px;
    }
  }
  @media (min-width: 1200px) {
    padding: 120px 0;
    &__title {
      margin-bottom: 29px;
    }
    &__description {
      margin-bottom: 47px;
    }
  }
}
.support {
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
  &__container {
    display: grid;
    gap: 22px;
  }
  &__img {
    justify-self:stretch;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      @media (max-width: 767px) {
        height: 200px;
      }
    }
  }
  &__content {
    padding: 32px;
    background-color: var(--color);
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 32px;
    line-height: 1.14;
    letter-spacing: 1.65px;
    color: var(--reverse);
    span{color: #1B9097;}
  }
  &__btn {
    align-self: start;
    background-color: var(--reverse);
    font-size: 14px;
    line-height: 1.18;
    text-align: center;
    color: var(--color);
  }
  @media (min-width: 768px) {
    padding: 28px;
    &__container {
      gap: 32px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__content {
      padding: 42px;
    }
    &__content {
      padding: 42px;
      gap: 36px;
    }
    &__title {
      font-size: 36px;
    }
    &__btn {
      font-size: 15px;
    }
  }
  @media (min-width: 992px) {
    padding: 36px;
    &__content {
      padding: 48px;
      gap: 42px;
    }
    &__title {
      font-size: 42px;
    }
    &__btn {
      font-size: 16px;
    }
  }
  @media (min-width: 1200px) {
    padding: 44px;
    &__content {
      padding: 60px;
      gap: 52px;
    }
    &__title {
      font-size: 50px;
    }
    &__btn {
      font-size: 17px;
    }
  }
}
.footer {
  background-color: #F5FBFC;
  &__top {
    padding: 30px 0;
    display: grid;
    @media (min-width: 768px) {
      padding: 100px 0 118px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__main {
    @media (max-width: 767px) {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  &__logo {
    @media (min-width: 767px) {
      margin-bottom: 28px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0.36px;
    color: #546285;
  }
  &__nav {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__cat {
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #08090A;
    margin-bottom: 12px;
    @media (min-width: 767px) {
      margin-bottom: 23px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media (max-width: 767px) {
      gap: 2px;
    }
    @media (min-width: 768px){
      gap: 10px;
    }
    @media (min-width: 992px){
      gap: 18px;
    }
  }
  &__link {
    display: block;
    padding: 10px 0;
    font-size: 15px;
    line-height: 1;
    color: #546285;
    &:hover, &:focus{
      box-shadow: 0 0 5px var(--color);
    }
  }
  &__bot {
    border-top: 1px solid #7E828F17;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      padding: 20px;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
    }
    @media (min-width: 768px){
      padding: 40px 0;
      justify-content: space-between;
    }
    @media (min-width: 992px){
      padding: 60px 0;
      justify-content: space-between;
    }
  }
  &__info {
    font-size: 15px;
    line-height: 1.33;
    color: #353448;
    span{
      color: #35B8BE;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 24px;
    a{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid #7E828F4D;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover, &:focus{
        box-shadow: 0 0 5px var(--color);
      }
    }
  }
}
