@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url(reset.css);
:root {
  --main: #000;
  --text: #546285;
  --reverse: #fff;
  --color: rgb(53, 184, 190);
  --color-bg: rgba(53, 184, 190, 0.1);
}

html, body {
  color: var(--text);
  font-family: "Inter";
}

.freeze {
  overflow: hidden;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.container {
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 1.65px;
  color: #35B8BE;
}
@media (min-width: 768px) {
  .title {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .title {
    font-size: 50px;
  }
}

.text {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.36px;
  color: var(--text);
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .text {
    font-size: 18px;
  }
}

.btn {
  padding: 12px 20px 14px;
  display: inline-block;
  background: var(--color);
  border-radius: 6px;
  font-size: 17px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .btn {
    padding: 19px 35px 21px;
  }
}
.btn_unselect {
  padding: 12px 20px 14px;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  border-radius: 6px;
  font-size: 17px;
  color: var(--main);
  border: 1px solid rgba(97, 114, 131, 0.2);
}
@media (min-width: 768px) {
  .btn_unselect {
    padding: 19px 35px 21px;
  }
}

.header-order {
  display: none;
}
@media (min-width: 768px) {
  .header-order {
    display: block;
    font-size: 14px;
    line-height: 1.43;
    background-color: var(--color);
  }
  .header-order p {
    color: var(--reverse);
    opacity: 0.8;
  }
  .header-order a {
    color: var(--reverse);
    opacity: 1;
  }
}
.header-order__container {
  padding: 14px 0;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header__main {
  padding: 8px 0;
  background-color: var(--reverse);
}
@media (min-width: 768px) {
  .header__main {
    padding: 18px 0;
  }
}
@media (min-width: 992px) {
  .header__main {
    padding: 23px 0;
  }
}
.header__main-container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__logo {
  position: relative;
  z-index: 3;
  flex: 1 1 auto;
}
.header__logo svg path {
  stroke: var(--color);
}
.header__burger {
  position: relative;
  z-index: 3;
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
.header__burger > span, .header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #546285;
  transition: all 0.3s ease 0s;
}
.header__burger > span {
  top: 50%;
  transform: translate(0, -50%);
}
.header__burger::before {
  top: 10%;
}
.header__burger::after {
  bottom: 10%;
}
.header__burger_active > span {
  transform: translate(-50%, -50%);
  opacity: 0;
}
.header__burger_active::before {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
}
.header__burger_active::after {
  bottom: 50%;
  transform: translate(0, 50%) rotate(-45deg);
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__cart {
  position: relative;
  z-index: 3;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  background-color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/webp/cart-bg.webp);
}
.header__cart span {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -6px;
  right: -6px;
  border-radius: 50%;
  background-color: var(--reverse);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: var(--color);
}
.header__cart img {
  -o-object-position: center;
     object-position: center;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu__link {
  background-color: var(--reverse);
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 1.33;
  color: var(--main);
  opacity: 0.9;
}
.menu__link:hover, .menu__link:active {
  box-shadow: 0 0 3px -1px var(--color);
}
.menu__link_active {
  color: var(--color);
  opacity: 1;
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }
  .menu .menu__list {
    height: 100%;
    background-color: #fff;
    padding: 100px 50px 50px;
    flex-direction: column;
  }
  .menu .menu__list .menu__link {
    font-size: 20px;
  }
}
.menu_active {
  left: 0;
}

.intro {
  position: relative;
  padding: 20px 0 40px;
}
@media (min-width: 768px) {
  .intro {
    padding: 50px 0 70px;
  }
}
@media (min-width: 992px) {
  .intro {
    padding: 70px 0 100px;
  }
}
@media (min-width: 1200px) {
  .intro {
    padding: 100px 0 140px;
  }
}
.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/webp/intro-bg.webp);
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.intro__grid {
  display: grid;
}
@media (min-width: 768px) {
  .intro__grid {
    grid-template-columns: 3fr 2fr;
  }
}
@media (min-width: 992px) {
  .intro__grid {
    grid-template-columns: 500px 1fr;
  }
}
@media (min-width: 1200px) {
  .intro__grid {
    grid-template-columns: 606px 1fr;
  }
}
.intro__content {
  position: relative;
  z-index: 1;
}
.intro__title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #08090A;
}
.intro__title span {
  color: var(--color);
}
@media (min-width: 768px) {
  .intro__title {
    margin-bottom: 17px;
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .intro__title {
    margin-bottom: 27px;
    font-size: 60px;
  }
}
.intro__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.34;
}
@media (min-width: 768px) {
  .intro__text {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .intro__text {
    margin-bottom: 53px;
    font-size: 18px;
  }
}
.intro__btn {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .intro__btn {
    margin-bottom: 30px;
  }
}
.intro__trustpilot {
  margin-bottom: 10px;
  display: block;
}
.intro__rate {
  font-size: 14px;
  line-height: 1.25;
  color: #08090A;
}
.intro__rate span {
  color: var(--color);
}
@media (min-width: 768px) {
  .intro__rate {
    font-size: 16px;
  }
}
.intro__img {
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .intro__img {
    grid-row: 1/2;
  }
  .intro__img img {
    width: 110%;
    max-height: 320px;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 768px) {
  .intro__img img {
    width: 110%;
  }
}
@media (min-width: 1200px) {
  .intro__img img {
    width: 100%;
  }
}

.twocols {
  position: relative;
  padding: 40px 0;
}
@media (min-width: 768px) {
  .twocols {
    padding: 70px 0;
  }
}
@media (min-width: 992px) {
  .twocols {
    padding: 100px 0;
  }
}
@media (min-width: 1200px) {
  .twocols {
    padding: 140px 0;
  }
}
.twocols__wrap {
  display: grid;
  align-items: center;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .twocols__wrap {
    grid-template-columns: 1fr 1fr;
  }
}
.twocols__content {
  position: relative;
  z-index: 1;
}
.twocols__title {
  margin-bottom: 29px;
}
.twocols__text {
  margin-bottom: 47px;
}
.twocols__img {
  position: relative;
  z-index: 1;
}
.twocols__img img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 767px) {
  .twocols__img {
    grid-row: 1/2;
  }
}
@media (min-width: 768px) {
  .twocols__img img {
    max-height: 614px;
  }
}

.learn__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/webp/twocols-bg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}
.learn__content {
  max-width: 578px;
  background-image: url(../img/webp/bg-img.webp);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
}
@media (max-width: 767px) {
  .learn__content {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.learn__title {
  max-width: 375px;
}

.how {
  margin: 30px 0 40px;
}
@media (min-width: 768px) {
  .how {
    margin: 50px 0 70px;
  }
}
@media (min-width: 992px) {
  .how {
    margin: 80px 0 100px;
  }
}
@media (min-width: 1200px) {
  .how {
    margin: 134px 0 127px;
  }
}
.how__title {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .how__title {
    margin-bottom: 34px;
  }
}
@media (min-width: 992px) {
  .how__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .how__title {
    margin-bottom: 66px;
  }
}
.how__items {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .how__items {
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .how__items {
    gap: 30px;
    justify-content: space-between;
  }
}
.how__item {
  text-align: center;
}
.how__item img {
  width: 100%;
}
.how__item h3 {
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.66px;
  color: #08090A;
}
@media (max-width: 767px) {
  .how__item {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .how__item img {
    max-width: 160px;
  }
}
@media (max-width: 480px) {
  .how__item {
    flex-direction: column;
    text-align: center;
  }
  .how__item img {
    width: 200px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .how__item {
    max-width: 226px;
  }
  .how__item img {
    margin-bottom: 20px;
  }
  .how__item h3 {
    margin-bottom: 13px;
  }
}
@media (min-width: 992px) {
  .how__item {
    max-width: 300px;
  }
  .how__item img {
    margin-bottom: 36px;
  }
  .how__item h3 {
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .how__item {
    max-width: 333px;
  }
  .how__item img {
    margin-bottom: 48px;
  }
  .how__item h3 {
    margin-bottom: 15px;
  }
}

.browse {
  padding: 40px 0 40px;
  background-image: url(../img/webp/browse-bg.webp);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
@media (min-width: 768px) {
  .browse {
    padding: 75px 0 70px;
  }
}
@media (min-width: 992px) {
  .browse {
    padding: 110px 0 100px;
  }
}
@media (min-width: 1200px) {
  .browse {
    padding: 154px 0 140px;
  }
}
.browse__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.browse__title {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .browse__title {
    margin-bottom: 26px;
  }
}
.browse__text {
  margin-bottom: 15px;
  max-width: 470px;
  text-align: center;
  font-size: 16px;
}
.browse__text span {
  color: var(--color);
}
@media (min-width: 768px) {
  .browse__text {
    margin-bottom: 50px;
  }
}
.browse__buttons {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}
@media (min-width: 480px) {
  .browse__buttons {
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .browse__buttons {
    margin-bottom: 40px;
  }
}
.browse__btn {
  display: block;
}
.browse__list {
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .browse__list {
    margin-bottom: 65px;
  }
}
@media (min-width: 992px) {
  .browse__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  padding: 14px;
  background-color: var(--reverse);
  border-radius: 6px;
  display: flex;
  gap: 15px;
}
@media (max-width: 480px) {
  .card {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .card {
    padding: 35px 26px 26px;
    gap: 30px;
  }
}
.card__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
@media (max-width: 480px) {
  .card__img {
    height: 120px;
  }
}
.card__body {
  display: flex;
  flex-direction: column;
}
.card__top {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .card__top {
    margin-bottom: 18px;
  }
}
.card__title {
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 0.6px;
  color: #08090A;
}
.card__price {
  min-width: 100px;
  text-align: right;
  font-size: 15px;
  line-height: 1.33;
  color: var(--color);
}
.card__text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #546285;
}
.card__bot {
  display: flex;
  gap: 8px;
}
.card__number {
  display: block;
  padding: 8px 8px 10px;
  width: 60px;
  background: #FAFAFA;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  color: var(--main);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.36px;
}
.card__btn {
  padding: 8px 10px 10px;
  background: var(--color);
  border-radius: 6px;
}

.faq {
  padding: 30px 0;
}
.faq__container {
  width: 100%;
}
.faq__img img {
  width: 100%;
  max-width: 578px;
  -o-object-fit: contain;
     object-fit: contain;
}
.faq__title {
  max-width: 529px;
  margin-bottom: 15px;
}
.faq__description {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .faq {
    padding: 60px 0;
  }
  .faq__container {
    display: flex;
    align-items: center;
    gap: 44px;
  }
  .faq__img {
    flex: 0 0 50%;
  }
  .faq__content {
    flex: 0 0 50%;
  }
  .faq__title {
    margin-bottom: 18px;
  }
  .faq__description {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .faq {
    padding: 90px 0;
  }
  .faq__title {
    margin-bottom: 22px;
  }
  .faq__description {
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .faq {
    padding: 120px 0;
  }
  .faq__title {
    margin-bottom: 29px;
  }
  .faq__description {
    margin-bottom: 47px;
  }
}

.support {
  padding: 15px;
}
.support__container {
  display: grid;
  gap: 22px;
}
.support__img {
  justify-self: stretch;
}
.support__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 767px) {
  .support__img img {
    height: 200px;
  }
}
.support__content {
  padding: 32px;
  background-color: var(--color);
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
}
.support__title {
  font-size: 32px;
  line-height: 1.14;
  letter-spacing: 1.65;
  color: var(--reverse);
}
.support__title span {
  color: #1B9097;
}
.support__btn {
  align-self: start;
  background-color: var(--reverse);
  font-size: 14px;
  line-height: 1.18;
  text-align: center;
  color: var(--color);
}
@media (min-width: 768px) {
  .support {
    padding: 28px;
  }
  .support__container {
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  .support__content {
    padding: 42px;
  }
  .support__content {
    padding: 42px;
    gap: 36px;
  }
  .support__title {
    font-size: 36px;
  }
  .support__btn {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .support {
    padding: 36px;
  }
  .support__content {
    padding: 48px;
    gap: 42px;
  }
  .support__title {
    font-size: 42px;
  }
  .support__btn {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .support {
    padding: 44px;
  }
  .support__content {
    padding: 60px;
    gap: 52px;
  }
  .support__title {
    font-size: 50px;
  }
  .support__btn {
    font-size: 17px;
  }
}/*# sourceMappingURL=style.css.map */